In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([12, -1, 11, 100])

In [4]:
s

0     12
1     -1
2     11
3    100
dtype: int64

In [5]:
s[0]

12

In [6]:
s[2]

11

In [9]:
a = pd.Series(np.arange(3)+3)

In [10]:
a

0    3
1    4
2    5
dtype: int64

In [11]:
b = pd.Series(np.arange(3), index = ['first', 'second', 'third'])

In [12]:
b

first     0
second    1
third     2
dtype: int64

In [13]:
b['first']

0

In [20]:
s = pd.Series([20,30,40,50], index = ['a', 'b', 'c', 'd'])

In [21]:
x = pd.Series(s)

In [22]:
x

a    20
b    30
c    40
d    50
dtype: int64

In [25]:
s[0] = 0

In [26]:
s

a     0
b    30
c    40
d    50
dtype: int64

In [29]:
x[0] = 1

In [30]:
s

a     1
b    30
c    40
d    50
dtype: int64

In [31]:
x

a     1
b    30
c    40
d    50
dtype: int64

In [35]:
s = s + 7

In [36]:
s

a    15
b    44
c    54
d    64
dtype: int64

In [37]:
x

a     1
b    30
c    40
d    50
dtype: int64

In [39]:
s[s>40]

b    44
c    54
d    64
dtype: int64

In [40]:
x = s[s>40]

In [41]:
x

b    44
c    54
d    64
dtype: int64

In [42]:
x[0] = 11

In [43]:
x

b    11
c    54
d    64
dtype: int64

In [44]:
s

a    15
b    44
c    54
d    64
dtype: int64

In [45]:
s = pd.Series(np.arange(4), index = ['a', 'b', 'c', 'd'])

In [50]:
s

a    0
b    1
c    2
d    3
dtype: int64

In [48]:
# Filtering give new array.
x = s[s<3]

In [49]:
x

a    0
b    1
c    2
dtype: int64

In [51]:
x[0]

0

In [56]:
s/2

a    0.0
b    0.5
c    1.0
d    1.5
dtype: float64

In [66]:
s = pd.Series([12, 13, 14, 15, 12, 13], index = ['a', 'b', 'c', 'd', 'a', 'b'])

In [67]:
s

a    12
b    13
c    14
d    15
a    12
b    13
dtype: int64

In [68]:
s.unique()

array([12, 13, 14, 15])

In [69]:
s.value_counts()

13    2
12    2
15    1
14    1
dtype: int64

In [73]:
s

a    12
b    13
c    14
d    15
a    12
b    13
dtype: int64

In [80]:
a = s.isin([12, 14, 15])

In [81]:
a

a     True
b    False
c     True
d     True
a     True
b    False
dtype: bool

In [82]:
s[s.isin([12, 14, 15])]

a    12
c    14
d    15
a    12
dtype: int64

In [84]:
np.log(s)

a    2.484907
b    2.564949
c    2.639057
d    2.708050
a    2.484907
b    2.564949
dtype: float64

In [86]:
s = pd.Series([12, 13, 14, 15, np.NaN, 13], index = ['a', 'b', 'c', 'd', 'a', 'b'])

In [87]:
np.log(s)

a    2.484907
b    2.564949
c    2.639057
d    2.708050
a         NaN
b    2.564949
dtype: float64

In [88]:
s.isnull()

a    False
b    False
c    False
d    False
a     True
b    False
dtype: bool

In [89]:
s.notnull()

a     True
b     True
c     True
d     True
a    False
b     True
dtype: bool

In [91]:
s[s.isnull()]

a   NaN
dtype: float64

In [92]:
s[s.notnull()]

a    12.0
b    13.0
c    14.0
d    15.0
b    13.0
dtype: float64

In [93]:
np.mean(s)

13.4

In [96]:
np.mean(s[s.notnull()])

13.4

In [97]:
mydict = {'red':2000, 'blue':1000, 'white':3000}

In [98]:
mydict

{'red': 2000, 'blue': 1000, 'white': 3000}

In [99]:
myseries = pd.Series(mydict)

In [100]:
myseries

red      2000
blue     1000
white    3000
dtype: int64

In [102]:
myseries[0] = 99

In [103]:
myseries

red        99
blue     1000
white    3000
dtype: int64

In [104]:
# Dataframe
data = {'color':['blue','green','yellow','red','white'], 
       'object':['ball','pen','pencil','paper','mug'],
       'price':[50,5,3,2,20]}

In [105]:
data

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': [50, 5, 3, 2, 20]}

In [106]:
frame = pd.DataFrame(data)

In [107]:
frame

    color  object  price
0    blue    ball     50
1   green     pen      5
2  yellow  pencil      3
3     red   paper      2
4   white     mug     20

In [108]:
frame2 = pd.DataFrame(data, columns=['color', 'price'])

In [109]:
frame2

    color  price
0    blue     50
1   green      5
2  yellow      3
3     red      2
4   white     20

In [116]:
data2 = {'color':['blue','green','yellow','red','white'], 
       'object':['ball','pen','pencil','paper','mug'],
       'price':np.arange(5)}

In [117]:
data2

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': array([0, 1, 2, 3, 4])}

In [119]:
frame3 = pd.DataFrame(data2)

In [120]:
frame3

    color  object  price
0    blue    ball      0
1   green     pen      1
2  yellow  pencil      2
3     red   paper      3
4   white     mug      4

In [124]:
frame3

    color  object  price
0    blue    ball      0
1   green     pen      1
2  yellow  pencil      2
3     red   paper      3
4   white     mug      4

In [125]:
data = {'color':['blue','green','yellow','red','white'], 
       'object':['ball','pen','pencil','paper','mug'],
       'price':[50,5,3,2,20]}

In [128]:
frame = pd.DataFrame(data, index = ['one', 'two', 'three', 'four', 'five'])

In [129]:
frame

        color  object  price
one      blue    ball     50
two     green     pen      5
three  yellow  pencil      3
four      red   paper      2
five    white     mug     20

In [139]:
framex = pd.DataFrame(np.arange(25).reshape(5,5), index = ['a','b','c','d','e'], columns = ['p','q','r','s','t'])

In [140]:
framex

    p   q   r   s   t
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [141]:
framex.columns

Index(['p', 'q', 'r', 's', 't'], dtype='object')

In [142]:
framex.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [143]:
framex.values

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])